<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles.css" />
   <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <script>
    const ROOM_ID = "<%= roomid %>"
    console.log(ROOM_ID);
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script  defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script  src="second.js" defer></script> 
  <title>Document</title>
  <style>
    body{
      background-color: rgb(27, 27, 27)
    }

  </style>
</head>
<body>
<div class="container">
     <header class="header">
       <div class="logo-container">
         <img src="./img/logo.png" alt="logo" class="logo-img" />
         <h1 class="logo-text">
           Video<span class="logo-highlight">App</span>
         </h1>
       </div>
     </header>
     <div class="main">
     
         <div class="video-container">
         <div id="video-grid">
         </div>
     </div>
     <div class="lower-options" id="footer">
    <div class="lower-left-options" >
    <div class="option-button" id="stopVideo" >
            <i class="fa fa-video-camera"></i>
          </div>

    <div class="option-button" id="stopAudio" >
            <i class="fa fa-microphone"></i>
          </div>

  <div class="modal" id="myModal">
      <div class="modal-content" id="chatdiv">
        <h2>Chat-Box</h2>  
        <div class="send">
          <form action="#" id="send-container">
            <input type="text" name="messageInp" id="messageInp" required placeholder="Message">
            <button class="btn btn-primary" type="submit">send</button>
          </form>
                     
        </div>
      </div>
      <span class="close">&times;</span>
  </div>

    <div class="option-button" id="shareScreen" >
            <i class="fas fa-desktop"></i>
          </div>
          <div class="option-button" id="msgid" >
            <i class="fas fa-comments"></i>
          </div>
    </div>

    <div class="lower-right-options">
    <div class="option-button" id="addUser" >
            <i class="fas fa-user-plus"></i>
          </div>
          </div>
    </div>
    </div>
   </div>
  
  
</body>
</html>